@page "/Error/NotFound"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<PageTitle>Error</PageTitle>

<h1 class="text-danger">Error 404.</h1>
<h2 class="text-danger">Not found.</h2>
<button @onclick="() => { NavigationManager.NavigateTo(URL, replace: true);}">Back</button>


@code
{
	public string URL = "/";
}
